*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #46745d;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
}

.couleur{
    display: block;
    width: 100px;
    border-style: outset;

}

.calculatrice{
    background-color:#08607a;
    display: flex;
    flex-direction: column;
    width: max-content;
    border: 10px;
    box-shadow: 0 0 20px black;
    margin-top: 50px;
    border-style: outset;
    border-radius: 5px;
    
    
    
    
    
}


.ecran{
    background-color: mediumslateblue;
    margin-top: 10px;
    width: 80%;
    height: 150px;
    background-color: #071306;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
    margin-bottom: 10px;
    border: 10px;
    border-style: groove;
    
    color: aliceblue;
    
}

.ecran:hover{
    opacity: 0.1;
    width: 90%;
}

.touches{

    display: grid;
    grid-template-columns:repeat(4,60px);
    grid-template-rows:repeat(5,60px);
    padding-right: 37px;
    margin: 20px;
    grid-gap:8px;
    margin-bottom: 50px;




}
    

@media screen and (max-width:750px){



    body{
        background-color: darkslategray;
        display: block;

    }
    header{
        background-color: teal;
    } 
    .img{
        width: 200px;
        height: 100px;
        
    }
    .ch{
        width: 100px;
    }

    
    }  
    @media screen and (max-width:450px){
    
    
    
    body{
        background-color: darkslategray;
    }
    header{
        background-color: teal;
    } 

    .img{
        width: 360px;
        height: 150px;
    }
    .ch{
        width: 100px;
    }
    }  


